
#!/bin/bash
#exec_at: E:/work_root/
E:/work_root/c_projects/greatwall/7-zip/7z a -bsp1 -r  E:/GwGuard/gwsoft_{date_time}.zip ./gwsoft \
    -xr!runtime\\* -xr!application\\admin\\view_src
#exec_at: E:/GwGuard/install/
rm -f E:/GwGuard/gwsoft_web_installer_v10_sp1/bin/gwsoft.zip
cp E:/GwGuard/gwsoft_{date_time}.zip  E:/GwGuard/gwsoft_web_installer_v10_sp1/bin/
tar czf -r gwsoft_web_installer_v10_sp1_{date_time}.zip ./gwsoft_web_installer_v10_sp1
cp gwsoft_web_installer_v10_sp1_{date_time}.zip  ../软件源码/GWGuard/install/
#exec_at: E:/GwGuard/软件源码/GWGuard/install/
